.wrapper {
	background: var(--surface-color);
	border-radius: 12px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	.main-indicators {
		text-align: center;
		margin-bottom: 24px;
	}

	.title-group {
		text-align: right;
		margin-bottom: 20px;

		.section-title {
			font-size: 25px;
			font-weight: 600;
			color: var(--text-color);
			margin-bottom: 8px;
			@media (max-width: 1050px) {
				text-align: left;
			}
		}

		.section-subtitle {
			font-size: 14px;
			color: var(--text-color);
			opacity: 0.8;
			@media (max-width: 1050px) {
				text-align: left;
			}
		}
	}

	.section-title {
		font-size: 25px;
		font-weight: 600;
		margin-bottom: 20px;
		color: var(--text-color);
		text-align: right;
	}

	.pollutants-list {
		display: grid;
		grid-template-columns: 1fr;
		gap: 8px;
		padding: 20px;
		background: var(--background-secondary-color);
		border-radius: 12px;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

		&:has(> :nth-child(5)) {
			@media (min-width: 768px) {
				grid-template-columns: 1fr 1fr;
				gap: 12px;
			}
		}
	}

	.pollutant-item {
		background: var(--background-color);
		padding: 8px 16px;
		border-radius: 8px;
		text-align: left;
		transition: transform 0.2s ease;
		border: 1px solid var(--border-color);
		width: 100%;

		h4 {
			font-size: 16px;
			margin-bottom: 4px;
			color: var(--text-color);
		}

		p {
			color: var(--text-color);
			opacity: 0.8;
			margin: 2px 0;
			font-size: 13px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
